.header{
    color: #32b9cd;
    border-bottom: 3px solid #32b9cd;

}



body{
    margin: 0;
    background-color: black;
    font-family: monospace;
}

.conteiner{
    width: 80%;
    margin: auto;
}

.header .conteiner{
    display: flex;
    justify-content: space-between;
}

.nav_bar{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 400px;
    align-items: center;
    color: #e3b062
}

.agora{
    font-weight: 1000;
}

